{% extends "base.html" %}
{% block content %}
    <!--Instead of the fake user I can use Flask-Login's current_user in the template-->
    <h1>哟, {{ current_user.username }}!</h1>
<!--索引模板中的帖子提交表单-->
<!-- 使博客文章提交表单可选 -->
{% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
<!--            渲染分页-->

        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
    <!-- 使用博客帖子模板 -->
    {% include '_post.html' %}
<!--    <div>-->
        <!-- <p>{{ post.author.username }} : <b>{{ post.body }}</b></p> -->
<!--    </div>-->
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
   <!--<embed height=50 width=250 src="/music/bmha.mp3"></embed>-->
    {% endblock %}
