<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="skPlayer"></div>
	<div class="container">
        <button onclick="player.play()">player.play()</button>
        <button onclick="player.pause()">player.pause()</button>
        <button onclick="player.toggle()">player.toggle()</button>
        <button onclick="player.prev()">player.prev()</button>
        <button onclick="player.next()">player.next()</button>
        <button onclick="player.switchMusic(7)">player.switchMusic(7)</button>
        <button onclick="player.toggleList()">player.toggleList()</button>
        <button onclick="player.toggleMute()">player.toggleMute()</button>
        <button onclick="player.switchMode()">player.switchMode()</button>
    </div>
</body>
</html>
